<html><head><style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}ng\:form{display:block;}</style>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="viewport" content="width=device-width">
  <base href="../../">
  <title>Documentation</title>
  <link rel="stylesheet" type="text/css" href="../../bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../../bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
  <!-- Flatdoc theme -->
  <link href="../../bower_components/flatdoc/theme-white/style.css" rel="stylesheet">
  <script src="../../bower_components/google-code-prettify/bin/prettify.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../../bower_components/google-code-prettify/bin/prettify.min.css">
  <link rel="stylesheet" type="text/css" href="../../bower_components/font-awesome/css/font-awesome.min.css">
  <!-- DocBase -->
  <link rel="stylesheet" type="text/css" href="../../bower_components/docbase/dist/css/main.min.css">
  <!-- Theme -->
  <link rel="stylesheet" type="text/css" href="styles/theme.css">
  
<script type="text/javascript" async="" src="http://twitter.github.io/typeahead.js/releases/latest/typeahead.bundle.js"></script></head>
<body role="flatdoc" class="no-literate">
  <!-- ngView:  --><div ng-view="" class="ng-scope"><!-- ngInclude: navbarHtml --><nav class="navbar navbar-default navbar-fixed-top ng-scope" ng-include="navbarHtml"><div class="container-fluid ng-scope">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a id="docs-appbase-logo" class="navbar-brand" ng-href="#/" href="#/">
      <img src="./images/docbase.png">
    </a>
  </div>

  <div class="collapse navbar-collapse" id="navbar-collapse">
    <ul class="nav navbar-nav">
      <!-- ngRepeat: folder in map[currentVersion] --><li class="dropdown ng-scope" ng-repeat="folder in map[currentVersion]">
        <a ng-href=../../alpha/commands/index.html class="dropdown-toggle map_folder ng-binding" data-toggle="dropdown" role="button" aria-expanded="false" ng-bind="folder.label" href=../../alpha/commands/index.html>commands</a>
        <ul class="dropdown-menu">
          <!-- ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=../../alpha/commands/append.html ng-bind="file.label" class="ng-binding" href=../../alpha/commands/append.html>append</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=../../alpha/commands/auth.html ng-bind="file.label" class="ng-binding" href=../../alpha/commands/auth.html>auth</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=../../alpha/commands/bgrewriteaof.html ng-bind="file.label" class="ng-binding" href=../../alpha/commands/bgrewriteaof.html>bgrewriteaof</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=../../alpha/commands/bgsave.html ng-bind="file.label" class="ng-binding" href=../../alpha/commands/bgsave.html>bgsave</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=../../alpha/commands/bitcount.html ng-bind="file.label" class="ng-binding" href=../../alpha/commands/bitcount.html>bitcount</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=../../alpha/commands/bitop.html ng-bind="file.label" class="ng-binding" href=../../alpha/commands/bitop.html>bitop</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=../../alpha/commands/bitpos.html ng-bind="file.label" class="ng-binding" href=../../alpha/commands/bitpos.html>bitpos</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=../../alpha/commands/blpop.html ng-bind="file.label" class="ng-binding" href=../../alpha/commands/blpop.html>blpop</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=../../alpha/commands/brpop.html ng-bind="file.label" class="ng-binding" href=../../alpha/commands/brpop.html>brpop</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=../../alpha/commands/brpoplpush.html ng-bind="file.label" class="ng-binding" href=../../alpha/commands/brpoplpush.html>brpoplpush</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=../../alpha/commands/client-getname.html ng-bind="file.label" class="ng-binding" href=../../alpha/commands/client-getname.html>client-getname</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=../../alpha/commands/client-kill.html ng-bind="file.label" class="ng-binding" href=../../alpha/commands/client-kill.html>client-kill</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=../../alpha/commands/client-list.html ng-bind="file.label" class="ng-binding" href=../../alpha/commands/client-list.html>client-list</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=../../alpha/commands/client-pause.html ng-bind="file.label" class="ng-binding" href=../../alpha/commands/client-pause.html>client-pause</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=../../alpha/commands/client-reply.html ng-bind="file.label" class="ng-binding" href=../../alpha/commands/client-reply.html>client-reply</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=../../alpha/commands/client-setname.html ng-bind="file.label" class="ng-binding" href=../../alpha/commands/client-setname.html>client-setname</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=../../alpha/commands/cluster-addslots.html ng-bind="file.label" class="ng-binding" href=../../alpha/commands/cluster-addslots.html>cluster-addslots</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=../../alpha/commands/cluster-count-failure-reports.html ng-bind="file.label" class="ng-binding" href=../../alpha/commands/cluster-count-failure-reports.html>cluster-count-failure-reports</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=../../alpha/commands/cluster-countkeysinslot.html ng-bind="file.label" class="ng-binding" href=../../alpha/commands/cluster-countkeysinslot.html>cluster-countkeysinslot</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=../../alpha/commands/cluster-delslots.html ng-bind="file.label" class="ng-binding" href=../../alpha/commands/cluster-delslots.html>cluster-delslots</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=../../alpha/commands/cluster-failover.html ng-bind="file.label" class="ng-binding" href=../../alpha/commands/cluster-failover.html>cluster-failover</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope ng-hide">
            <a ng-href=../../alpha/commands/index.html ng-bind="file.label" class="ng-binding" href=../../alpha/commands/index.html>index</a>
          </li><!-- end ngRepeat: file in folder.files -->
        </ul>
      </li><!-- end ngRepeat: folder in map[currentVersion] --><li class="dropdown ng-scope" ng-repeat="folder in map[currentVersion]">
        <a ng-href=../../alpha/topics/index.html class="dropdown-toggle map_folder ng-binding" data-toggle="dropdown" role="button" aria-expanded="false" ng-bind="folder.label" href=../../alpha/topics/index.html>topics</a>
        <ul class="dropdown-menu">
          <!-- ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=../../alpha/topics/admin.html ng-bind="file.label" class="ng-binding" href=../../alpha/topics/admin.html>admin</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=../../alpha/topics/benchmarks.html ng-bind="file.label" class="ng-binding" href=../../alpha/topics/benchmarks.html>benchmarks</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=../../alpha/topics/clients.html ng-bind="file.label" class="ng-binding" href=../../alpha/topics/clients.html>clients</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=../../alpha/topics/cluster-spec.html ng-bind="file.label" class="ng-binding" href=../../alpha/topics/cluster-spec.html>cluster-spec</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=../../alpha/topics/cluster-tutorial.html ng-bind="file.label" class="ng-binding" href=../../alpha/topics/cluster-tutorial.html>cluster-tutorial</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=../../alpha/topics/config.html ng-bind="file.label" class="ng-binding" href=../../alpha/topics/config.html>config</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=../../alpha/topics/data-types-intro.html ng-bind="file.label" class="ng-binding" href=../../alpha/topics/data-types-intro.html>data-types-intro</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=../../alpha/topics/data-types.html ng-bind="file.label" class="ng-binding" href=../../alpha/topics/data-types.html>data-types</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=../../alpha/topics/debugging.html ng-bind="file.label" class="ng-binding" href=../../alpha/topics/debugging.html>debugging</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=../../alpha/topics/distlock.html ng-bind="file.label" class="ng-binding" href=../../alpha/topics/distlock.html>distlock</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=../../alpha/topics/encryption.html ng-bind="file.label" class="ng-binding" href=../../alpha/topics/encryption.html>encryption</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=../../alpha/topics/faq.html ng-bind="file.label" class="ng-binding" href=../../alpha/topics/faq.html>faq</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=../../alpha/topics/indexes.html ng-bind="file.label" class="ng-binding" href=../../alpha/topics/indexes.html>indexes</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=../../alpha/topics/internals-eventlib.html ng-bind="file.label" class="ng-binding" href=../../alpha/topics/internals-eventlib.html>internals-eventlib</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=../../alpha/topics/internals-rediseventlib.html ng-bind="file.label" class="ng-binding" href=../../alpha/topics/internals-rediseventlib.html>internals-rediseventlib</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=../../alpha/topics/internals-sds.html ng-bind="file.label" class="ng-binding" href=../../alpha/topics/internals-sds.html>internals-sds</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=../../alpha/topics/internals-vm.html ng-bind="file.label" class="ng-binding" href=../../alpha/topics/internals-vm.html>internals-vm</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=../../alpha/topics/internals.html ng-bind="file.label" class="ng-binding" href=../../alpha/topics/internals.html>internals</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=../../alpha/topics/introduction.html ng-bind="file.label" class="ng-binding" href=../../alpha/topics/introduction.html>introduction</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=../../alpha/topics/latency-monitor.html ng-bind="file.label" class="ng-binding" href=../../alpha/topics/latency-monitor.html>latency-monitor</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=../../alpha/topics/latency.html ng-bind="file.label" class="ng-binding" href=../../alpha/topics/latency.html>latency</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=../../alpha/topics/ldb.html ng-bind="file.label" class="ng-binding" href=../../alpha/topics/ldb.html>ldb</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=../../alpha/topics/license.html ng-bind="file.label" class="ng-binding" href=../../alpha/topics/license.html>license</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=../../alpha/topics/lru-cache.html ng-bind="file.label" class="ng-binding" href=../../alpha/topics/lru-cache.html>lru-cache</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=../../alpha/topics/mass-insert.html ng-bind="file.label" class="ng-binding" href=../../alpha/topics/mass-insert.html>mass-insert</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=../../alpha/topics/memory-optimization.html ng-bind="file.label" class="ng-binding" href=../../alpha/topics/memory-optimization.html>memory-optimization</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=../../alpha/topics/notifications.html ng-bind="file.label" class="ng-binding" href=../../alpha/topics/notifications.html>notifications</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope ng-hide">
            <a ng-href=../../alpha/topics/index.html ng-bind="file.label" class="ng-binding" href=../../alpha/topics/index.html>index</a>
          </li><!-- end ngRepeat: file in folder.files -->
        </ul>
      </li><!-- end ngRepeat: folder in map[currentVersion] -->
    </ul>

    <ul class="nav navbar-nav navbar-right">
       <li class="dropdown search-dropdown">
        <div class="form-group search-form" data-ng-class="{'open-in':search.length &gt; 0}"><input class="search_field form-control dropdown-toggle appbase-search" type="text" placeholder="search"></div>
      </li>
      <li class="dropdown">
        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
           <span ng-bind="currentVersion" class="ng-binding">alpha</span> <span class="caret"></span>
        </a>
        <ul class="dropdown-menu version-switcher" role="menu">
          <!-- ngRepeat: version in versions --><li ng-repeat="version in versions" class="ng-scope">
            <a ng-href=../../alpha/commands/append.html ng-bind="version" class="ng-binding" href=../../alpha/commands/append.html>alpha</a>
          </li><!-- end ngRepeat: version in versions -->
        </ul>
      </li>
      <!-- ngIf: docbaseOptions.method == 'github' --><li class="github-star ng-scope" data-ng-if="docbaseOptions.method == 'github'">
        <iframe src="https://ghbtns.com/github-btn.html?user=farhan687&amp;repo=redis&amp;type=star&amp;count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
      </li><!-- end ngIf: docbaseOptions.method == 'github' -->
      <!-- ngIf: docbaseOptions.method != 'github' -->
    </ul>
  </div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>
<!-- ngIf: !index --><div role="flatdoc" class="content-root ng-scope" data-ng-if="!index">
  <div class="menubar fixed">
    <div class="menu section" role="flatdoc-menu"><ul><li id="root-item" class="level-0"><ul class="level-1" id="root-list"><li id="root-item" class="level-1"><ul class="level-2" id="root-list"><li id="-notes-item" class="level-2"><a id="-notes-link" href="../../alpha/commands/client-list.html#-notes" class="level-2" pref="#-notes">Notes</a></li></ul></li></ul></li></ul></div>
  </div>
  <div role="flatdoc-content" class="content"><div class="extra_container"><div class="contributors_header">Contributors<span class="pull-right modified-date">Last Modified On : <a href="https://github.com/farhan687/redis/commit/75a57c6c9a9f100cfeab720e0bac477e9e4e6566">Mar 21, 2016</a></span></div><div class="contributor-container"><a class="contributor" href="https://github.com/farhan687" title="farhan687" target="_blank"><img class="contributor_img img-rounded" src="https://avatars.githubusercontent.com/u/6059027?v=3" alt="farhan687"></a></div></div><div class="clearFix"></div><p>The <code>CLIENT LIST</code> command returns information and statistics about the client
connections server in a mostly human readable format.</p><p>@return</p><p>@bulk-string-reply: a unique string, formatted as follows:</p><ul>
<li>One client connection per line (separated by LF)</li>
<li>Each line is composed of a succession of <code>property=value</code> fields separated
by a space character.</li>
</ul><p>Here is the meaning of the fields:</p><ul>
<li><code>id</code>: an unique 64-bit client ID (introduced in Redis 2.8.12).</li>
<li><code>addr</code>: address/port of the client</li>
<li><code>fd</code>: file descriptor corresponding to the socket</li>
<li><code>age</code>: total duration of the connection in seconds</li>
<li><code>idle</code>: idle time of the connection in seconds</li>
<li><code>flags</code>: client flags (see below)</li>
<li><code>db</code>: current database ID</li>
<li><code>sub</code>: number of channel subscriptions</li>
<li><code>psub</code>: number of pattern matching subscriptions</li>
<li><code>multi</code>: number of commands in a MULTI/EXEC context</li>
<li><code>qbuf</code>: query buffer length (0 means no query pending)</li>
<li><code>qbuf-free</code>: free space of the query buffer (0 means the buffer is full)</li>
<li><code>obl</code>: output buffer length</li>
<li><code>oll</code>: output list length (replies are queued in this list when the buffer is full)</li>
<li><code>omem</code>: output buffer memory usage</li>
<li><code>events</code>: file descriptor events (see below)</li>
<li><code>cmd</code>: last command played</li>
</ul><p>The client flags can be a combination of:</p><pre><code class="prettyprint prettyprinted" style=""><span class="pln">O</span><span class="pun">:</span><span class="pln"> the client </span><span class="kwd">is</span><span class="pln"> a slave </span><span class="kwd">in</span><span class="pln"> MONITOR mode
S</span><span class="pun">:</span><span class="pln"> the client </span><span class="kwd">is</span><span class="pln"> a normal slave server
M</span><span class="pun">:</span><span class="pln"> the client </span><span class="kwd">is</span><span class="pln"> a master
x</span><span class="pun">:</span><span class="pln"> the client </span><span class="kwd">is</span><span class="pln"> </span><span class="kwd">in</span><span class="pln"> a MULTI</span><span class="pun">/</span><span class="pln">EXEC context
b</span><span class="pun">:</span><span class="pln"> the client </span><span class="kwd">is</span><span class="pln"> waiting </span><span class="kwd">in</span><span class="pln"> a blocking operation
i</span><span class="pun">:</span><span class="pln"> the client </span><span class="kwd">is</span><span class="pln"> waiting </span><span class="kwd">for</span><span class="pln"> a VM I</span><span class="pun">/</span><span class="pln">O </span><span class="pun">(</span><span class="pln">deprecated</span><span class="pun">)</span><span class="pln">
d</span><span class="pun">:</span><span class="pln"> a watched keys has been modified </span><span class="pun">-</span><span class="pln"> EXEC will fail
c</span><span class="pun">:</span><span class="pln"> connection to be closed after writing entire reply
u</span><span class="pun">:</span><span class="pln"> the client </span><span class="kwd">is</span><span class="pln"> unblocked
U</span><span class="pun">:</span><span class="pln"> the client </span><span class="kwd">is</span><span class="pln"> connected via a </span><span class="typ">Unix</span><span class="pln"> domain socket
r</span><span class="pun">:</span><span class="pln"> the client </span><span class="kwd">is</span><span class="pln"> </span><span class="kwd">in</span><span class="pln"> </span><span class="kwd">readonly</span><span class="pln"> mode against a cluster node
A</span><span class="pun">:</span><span class="pln"> connection to be closed ASAP
N</span><span class="pun">:</span><span class="pln"> </span><span class="kwd">no</span><span class="pln"> specific flag </span><span class="kwd">set</span></code></pre><p>The file descriptor events can be:</p><pre><code class="prettyprint prettyprinted" style=""><span class="pln">r</span><span class="pun">:</span><span class="pln"> the client socket </span><span class="kwd">is</span><span class="pln"> readable </span><span class="pun">(</span><span class="kwd">event</span><span class="pln"> loop</span><span class="pun">)</span><span class="pln">
w</span><span class="pun">:</span><span class="pln"> the client socket </span><span class="kwd">is</span><span class="pln"> writable </span><span class="pun">(</span><span class="kwd">event</span><span class="pln"> loop</span><span class="pun">)</span></code></pre><h2 id="-notes">Notes</h2><p>New fields are regularly added for debugging purpose. Some could be removed
in the future. A version safe Redis client using this command should parse
the output accordingly (i.e. handling gracefully missing fields, skipping
unknown fields).</p></div>
  <!-- ngIf: docbaseOptions.method == 'github' --><a data-ng-if="docbaseOptions.method == 'github'" class="edit ng-scope" ng-href="https://github.com/farhan687/redis/tree/master/src/alpha/commands/client-list.md" target="_blank" href="https://github.com/farhan687/redis/tree/master/src/alpha/commands/client-list.md">
    <span class="fa fa-pencil"> Edit</span>
  </a><!-- end ngIf: docbaseOptions.method == 'github' -->
</div><!-- end ngIf: !index -->
<!-- ngIf: index -->
</div>
  <script type="text/javascript" src="../../docbase-config.js"></script>
  <script type="text/javascript" src="../../bower_components/docbase/dist/js/main.unique.js"></script>


</body><script>$(function(){  $('.search-form').searchAppbase('/search-index.json', true); })</script></html>